# stupid system files
.DS_Store

# emacs files
*~
.\#*
\#*\#

# python env
.env
env
.venv

# python
__pycache__

# vmd preview file
*.temp

*.zip
*.klld

# word wise lemma
libs
lemmas_dump

# translation files
*.mo