# stupid system files
.DS_Store

# emacs files
*~
.\#*
\#*\#

# python env
.env
env
.venv

# python
__pycache__

# vmd preview file
*.temp

*.zip
*.klld

# translation files
*.mo

# Copied file
libs
dump_wiktionary.py
dump_kindle_lemmas.py
data/kindle_lemmas.json
data/kindle_lemmas_dump_*