name: Lint Code Base

on:
  push:
    branches:  # ignore pushed tags
      - "*"
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: |
          python -m pip install mypy
          python -m mypy .
          python -m mypy __main__.py
      - run: |
          python -m pip install ruff
          python -m ruff check .
          python -m ruff format --diff .
      - uses: crate-ci/typos@v1.29.10
