name: Lint Code Base

on:
  push:
    branches:
      - '**'
    paths:
      - '**.py'
  pull_request:
    branches:
      - '**'
    paths:
      - '**.py'

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install flake8
        run: python3 -m pip install flake8

      - name: Lint Code Base
        run: flake8 .
